.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/.idea
/build
/GladiatusServerJava/.project
/GladiatusServerJava/.classpath
/GladiatusServerJava/.settings
/GladiatusServerJava/bin
/gladiatus/gladiatus.iml
